/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/


/* https://www.youtube.com/watch?v=WlGQdgy-M6w */
*, *::after, *::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

/* so image does not overflow */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 2em;
}


.info {
    border: 1px solid #ccc;
    padding: 2em 0;
}


.one {
    flex-basis: 500px;
    /* width: 50%; */
    border: 1px solid red;
}

.two{
    /* flex-basis: 500px; */
    /* width: 100%; */
    flex: 1;
    border: 1px solid blue;
}